In [5]:
import pandas as pd
import numpy as np
import pickle
import category_encoders as ce
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder,MinMaxScaler,StandardScaler

In [6]:
global df

In [7]:
df = pd.read_csv("C:\\Users\\walekara\\Desktop\\Python Tut\\userInput\\preprocessFile\\Electric_Vehicle_Population_Size_History_By_County_.csv")
df.describe()

       Percent Electric Vehicles
count               20819.000000
mean                    4.139216
std                    11.055350
min                     0.000000
25%                     0.390000
50%                     1.220000
75%                     2.995000
max                   100.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  object
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  object
 6   Electric Vehicle (EV) Total               20819 non-null  object
 7   Non-Electric Vehicle Total                20819 non-null  object
 8   Total Vehicles                            20819 non-null  object
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: float64(1), object(9)
memory usage: 1.6+ MB

In [9]:
df.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,September 30 2022,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,December 31 2022,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,January 31 2020,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,June 30 2022,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,July 31 2021,Douglas,CO,Passenger,0,1,1,83,84,1.19

In [10]:
df

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,September 30 2022,Riverside,CA,Passenger,7,0,7,460,467,1.50
1,December 31 2022,Prince William,VA,Passenger,1,2,3,188,191,1.57
2,January 31 2020,Dakota,MN,Passenger,0,1,1,32,33,3.03
3,June 30 2022,Ferry,WA,Truck,0,0,0,"3,575","3,575",0.00
4,July 31 2021,Douglas,CO,Passenger,0,1,1,83,84,1.19
...,...,...,...,...,...,...,...,...,...,...
20814,January 31 2023,Rockingham,NH,Passenger,1,0,1,14,15,6.67
20815,July 31 2020,Carson City,NV,Passenger,1,0,1,10,11,9.09
20816,February 28 2022,Island,WA,Passenger,744,350,"1,094","62,257","63,351",1.73
20817,December 31 2020,San Diego,CA,Passenger,14,2,16,"2,724","2,740",0.58
20818,November 30 2019,Goochland,VA,Passenger,3,1,4,271,275,1.45

In [11]:
df.columns

Index(['Date', 'County', 'State', 'Vehicle Primary Use',
       'Battery Electric Vehicles (BEVs)',
       'Plug-In Hybrid Electric Vehicles (PHEVs)',
       'Electric Vehicle (EV) Total', 'Non-Electric Vehicle Total',
       'Total Vehicles', 'Percent Electric Vehicles'],
      dtype='object')

In [12]:
df['Battery Electric Vehicles (BEVs)'].unique()

array(['7', '1', '0', ..., '758', '256', '744'], dtype=object)

In [13]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [14]:
categorical_columns

Index(['Date', 'County', 'State', 'Vehicle Primary Use',
       'Battery Electric Vehicles (BEVs)',
       'Plug-In Hybrid Electric Vehicles (PHEVs)',
       'Electric Vehicle (EV) Total', 'Non-Electric Vehicle Total',
       'Total Vehicles'],
      dtype='object')

In [15]:
df['Battery Electric Vehicles (BEVs)'].unique()

array(['7', '1', '0', ..., '758', '256', '744'], dtype=object)

In [16]:
df.shape

(20819, 10)

In [17]:
for cols in categorical_columns:
    isColumnNumeric = False
    for i, value in enumerate(df[cols]):# i is tracking the index of the row in the dataframe
        if isinstance(value, str) and value.isnumeric():
            isColumnNumeric = True
        if isinstance(value, str) and value.replace(",", "").isnumeric():
            df.at[i, cols] = int(value.replace(",", ""))
            # here we converted the string to numeric values remaining task is to convert the col to int values
            isColumnNumeric = True
    if isColumnNumeric == True:
        df[cols] = df[cols].astype("Float64")

In [18]:
info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  Float64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  Float64
 6   Electric Vehicle (EV) Total               20819 non-null  Float64
 7   Non-Electric Vehicle Total                20819 non-null  Float64
 8   Total Vehicles                            20819 non-null  Float64
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: Float64(5), float64(1), object(4)
memory usage: 1.7+ MB

In [19]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [20]:
categorical_columns

Index(['Date', 'County', 'State', 'Vehicle Primary Use'], dtype='object')

In [21]:
df.describe()

,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
count,20819.0,20819.0,20819.0,20819.0,20819.0,20819.000000
mean,217.516211,80.063644,297.579855,25098.062539,25395.642394,4.139216
std,2278.533317,646.373208,2915.504792,106732.436167,109085.96215,11.055350
min,0.0,0.0,0.0,0.0,1.0,0.000000
25%,0.0,0.0,1.0,43.0,44.0,0.390000
50%,1.0,1.0,1.0,163.0,165.0,1.220000
75%,3.0,2.0,4.0,8380.0,8421.5,2.995000
max,72333.0,17501.0,89834.0,1399823.0,1430937.0,100.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20819 entries, 0 to 20818
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      20819 non-null  object
 1   County                                    20733 non-null  object
 2   State                                     20733 non-null  object
 3   Vehicle Primary Use                       20819 non-null  object
 4   Battery Electric Vehicles (BEVs)          20819 non-null  Float64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  20819 non-null  Float64
 6   Electric Vehicle (EV) Total               20819 non-null  Float64
 7   Non-Electric Vehicle Total                20819 non-null  Float64
 8   Total Vehicles                            20819 non-null  Float64
 9   Percent Electric Vehicles                 20819 non-null  float64
dtypes: Float64(5), float64(1), object(4)
memory usage: 1.7+ MB

In [23]:
categorical_columns

Index(['Date', 'County', 'State', 'Vehicle Primary Use'], dtype='object')

In [24]:
onehot_encoding_transformer = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(), categorical_columns)
    ],
    remainder='passthrough'
)

In [25]:
tdf = onehot_encoding_transformer.fit_transform(df)

In [26]:
print(type(tdf))

<class 'scipy.sparse._csr.csr_matrix'>

In [27]:
tdf

<20819x457 sparse matrix of type '<class 'numpy.float64'>'
	with 186589 stored elements in Compressed Sparse Row format>

In [28]:
def onehot_encoding_transformer(obj_columns):
    def tranform(*args, **kwargs):
        obj = obj_columns(*args, **kwargs)
        print(obj)
        return obj
    return tranform

In [29]:
tdf = onehot_encoding_transformer(categorical_columns)

In [30]:
tdf

In [31]:
onehot_encoding_transformer(categorical_columns)

In [32]:
categorical_columns

Index(['Date', 'County', 'State', 'Vehicle Primary Use'], dtype='object')

In [33]:
binary_encoder = ce.BinaryEncoder(cols = categorical_columns,return_df=True)

In [34]:
tdf = binary_encoder.fit_transform(df)

In [35]:
type(tdf)

pandas.core.frame.DataFrame

In [36]:
from sklearn.base import BaseEstimator, TransformerMixin
class MultiColumnLabelEncoder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        output = X.copy()
        for column in output.columns:
            label_encoder = LabelEncoder()
            output[column] = label_encoder.fit_transform(output[column])
        return output

In [37]:

label_encoding_transformer = ColumnTransformer(
    transformers=[
        ('label', MultiColumnLabelEncoder(), categorical_columns)
    ],
    remainder='passthrough'
)

In [38]:
tdf = pd.DataFrame(label_encoding_transformer.fit_transform(df), columns=df.columns)

In [39]:
null_value_col = [col for col in df.columns if df[col].isnull().sum() > 0]
print(null_value_col)

['County', 'State']

In [ ]:
tdf = pd.DataFrame(tdf, columns=df.columns)

In [43]:
len(df.columns)-1

9

In [ ]:
tdf

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,Riverside,CA,September 30 2022,Passenger,7.0,0.0,7.0,460.0,467.0,1.5
1,Prince William,VA,December 31 2022,Passenger,1.0,2.0,3.0,188.0,191.0,1.57
2,Dakota,MN,January 31 2020,Passenger,0.0,1.0,1.0,32.0,33.0,3.03
3,Ferry,WA,June 30 2022,Truck,0.0,0.0,0.0,3575.0,3575.0,0.0
4,Douglas,CO,July 31 2021,Passenger,0.0,1.0,1.0,83.0,84.0,1.19
...,...,...,...,...,...,...,...,...,...,...
20814,Rockingham,NH,January 31 2023,Passenger,1.0,0.0,1.0,14.0,15.0,6.67
20815,Carson City,NV,July 31 2020,Passenger,1.0,0.0,1.0,10.0,11.0,9.09
20816,Island,WA,February 28 2022,Passenger,744.0,350.0,1094.0,62257.0,63351.0,1.73
20817,San Diego,CA,December 31 2020,Passenger,14.0,2.0,16.0,2724.0,2740.0,0.58
20818,Goochland,VA,November 30 2019,Passenger,3.0,1.0,4.0,271.0,275.0,1.45